### ASSIGNMENT 1 

**NAME:** Chan Jun Yao

**MATRIC:** A18CS0043

**Topic: Data Structure, Functions and Files in Python**
- Due: 1 week from announcement.
- Mode: Individual
- Submission: E-Learning

Given a data file that consists of an example daily sale information recorded manually for each of the transaction for a certain period. The information in the file consists of date, item name, amount sold, and price per unit.

<br>
<img src='Fig1.png' width='300px'>
The sample of the data

**INSTRUCTIONS:**
1. Reads the data file in Python.
2. Creates a function in Python called: **calculate_daily_sale** that:
   - Able to calculate and return the sale of each item for every day.
   - You need to determine the data structure for the returned information, where the returned result should be able to be accessed to show the sale of exact item on a specified day. E.g.: 
      - ```result[‚Äú2020-09-25‚Äù]``` *will returns the sale for each item on that day.*
      - ```result[‚Äú2020-09-25‚Äù][‚ÄúItem_B‚Äù]``` *will returns the sale of Item B on that day.*
3. Creates a function in Python called: **get_total_sale** that:
   - Able to combine the sale of a specific item throughout the period in the data file.
   - The function should receive ONE argument:
     - The result variable returned form **calculate_daily_sale**
   - The function should return the total sale of each item throughout the period.
4. Submit your Python Notebook in the E-Learning.

üò∫ View it on GitHub:https://go.midknight.co/t3c

Before we can do any calculations, we need to read and structure the data. The data source is a text file, where each row consist 4 data namely **Date, Item Name, Amount and Price**. Below is my attempt to structure the data into Dictionary format.

One thing worth pointing out is to cast the data into float to retain precision.

In [89]:
def calculate_daily_sale(lines):
    
    result = {}  #this will be the result dictionary
        
    for index,line in enumerate(lines):
        [date,item,amount,price] = line.split(" ")
                        
        if date in result:  #if the date is already existed/record in the dictionary
            if item in result[date]:  #and the item key also already exist
                result[date][item] = float(result[date][item]) + float(int(amount) * float(price))  #we will sum up the price
            else:
                result[date][item] = float(int(amount) * float(price)) #else we will declare it straight away, assigning the value
        else:
            result[date] = {
                item: float(int(amount) * float(price))
            }
            
    return result

To calculate total, we add up the daily sales, using the function we had written earlier

In [90]:
def get_total_sale(data):
    itemTotal = {}
        
    for key,day in enumerate(data):
        for item in data[day]:
            if item in itemTotal:
                itemTotal[item] = data[day][item] + itemTotal[item]
            else:
                itemTotal[item] = data[day][item]
    
    return itemTotal

Last but not least, we will run our solution!

In [92]:
with open('data_assignment_1.txt') as dataFile:  # 1. Reads the data file in Python.
    lines = [ line.rstrip() for line in dataFile ]  

result = calculate_daily_sale(lines) # 2. Creates a function in Python called: calculate_daily_sale that.
totalSales = get_total_sale(result)  # 3. The function should receive ONE argument, the result variable returned form calculate_daily_sale

#### Validate our results

print('\nValidate: print the given syntax in the question.\n')

print(result['2020-09-25'])
print(result['2020-09-25']['Item_B'])
print('\n\nResult from get_total_sale\n\n')
print(totalSales)

Validate: print the given syntax in the question.

{'Item_D': 37.800000000000004, 'Item_A': 28.5, 'Item_B': 7.199999999999999}
7.199999999999999


Result from get_total_sale


{'Item_A': 159.6, 'Item_B': 96.0, 'Item_C': 81.9, 'Item_D': 153.90000000000003, 'Item_E': 13.200000000000001, 'Item_F': 25.6}

## At this point, pretty much of our job is done here
but i just feel like to dump out the values using Panda Data Frame

In [94]:
import pandas as pd

resultDf = pd.DataFrame(list(result.items()),columns = ['Date','item_sale'])
resultDf = pd.concat([resultDf.item_sale.apply(pd.Series), resultDf.drop('item_sale', axis=1)], axis=1)
totalSale = pd.DataFrame(list(totalSales.items()),columns = ['Item','Total Sales'])

#### Pretty Print using Data Frame

display(resultDf)    
display(totalSale)

   Item_A  Item_B  Item_C  Item_D  Item_E  Item_F        Date
0    13.3    10.8     NaN     NaN     NaN     NaN  2020-09-23
1    24.7     2.4    10.4     NaN     NaN     NaN  2020-09-24
2    28.5     7.2     NaN    37.8     NaN     NaN  2020-09-25
3    17.1    39.6    10.4     NaN     NaN     NaN  2020-09-26
4     3.8     3.6    15.6    40.5     4.4     NaN  2020-09-27
5    32.3     7.2    14.3    29.7     4.4    19.2  2020-09-28
6    28.5    18.0     NaN     NaN     NaN     NaN  2020-09-29
7    11.4     7.2    31.2    45.9     4.4     6.4  2020-09-30

     Item  Total Sales
0  Item_A        159.6
1  Item_B         96.0
2  Item_C         81.9
3  Item_D        153.9
4  Item_E         13.2
5  Item_F         25.6