### ASSIGNMENT 1 

**NAME:** Chan Jun Yao

**MATRIC:** A18CS0043

**Topic: Data Structure, Functions and Files in Python**
- Due: 1 week from announcement.
- Mode: Individual
- Submission: E-Learning

Given a data file that consists of an example daily sale information recorded manually for each of the transaction for a certain period. The information in the file consists of date, item name, amount sold, and price per unit.

<br>
<img src='Fig1.png' width='300px'>
The sample of the data

**INSTRUCTIONS:**
1. Reads the data file in Python.
2. Creates a function in Python called: **calculate_daily_sale** that:
   - Able to calculate and return the sale of each item for every day.
   - You need to determine the data structure for the returned information, where the returned result should be able to be accessed to show the sale of exact item on a specified day. E.g.: 
      - ```result[‚Äú2020-09-25‚Äù]``` *will returns the sale for each item on that day.*
      - ```result[‚Äú2020-09-25‚Äù][‚ÄúItem_B‚Äù]``` *will returns the sale of Item B on that day.*
3. Creates a function in Python called: **get_total_sale** that:
   - Able to combine the sale of a specific item throughout the period in the data file.
   - The function should receive ONE argument:
     - The result variable returned form **calculate_daily_sale**
   - The function should return the total sale of each item throughout the period.
4. Submit your Python Notebook in the E-Learning.

üò∫ View it on GitHub:https://go.midknight.co/t3c

Before we can do any calculations, we need to read and structure the data. The data source is a text file, where each row consist 4 data namely **Date, Item Name, Amount and Price**. Below is my attempt to structure the data into Dictionary format.

One thing worth pointing out is to cast the data into float to retain precision.

In [1]:
def read_sales_data(filename):
    
    result = {}  #this will be the result dictionary
    
    with open(filename) as dataFile:
        lines = [ line.rstrip() for line in dataFile ]  #reading line by line into the lines data
    
    for index,line in enumerate(lines):
        [date,item,amount,price] = line.split(" ")
                        
        if date in result:  #if the date is already existed/record in the dictionary
            if item in result[date]:  #and the item key also already exist
                result[date][item] = float(result[date][item]) + float(int(amount) * float(price))  #we will sum up the price
            else:
                result[date][item] = float(int(amount) * float(price)) #else we will declare it straight away, assigning the value
        else:
            result[date] = {
                item: float(int(amount) * float(price))
            }
            
    return result

Soon after we prepared our dictionary, we then can calcaulate daily sale by adding up each item's sale

In [2]:
def calculate_daily_sale(data):
    
    dailySaleData = {}
    
    for key,day in enumerate(data):
        dailyTotal = 0
        for item in data[day]:
            dailyTotal = dailyTotal + float(data[day][item])
        dailySaleData[day] = dailyTotal
    
    return dailySaleData

To calculate total, we add up the daily sales, using the function we had written earlier

In [3]:
def get_total_sale(data):
    daySale = calculate_daily_sale(data)
    total = 0
    for key,sale in enumerate(daySale):
        total = int(total) + daySale[sale]
    return total

By now, our solution should be fine already. This display_df is just for displaying the data in a table form for better presentation.

In [4]:
def display_df(result,dailySales):
    resultDf = pd.DataFrame(list(result.items()),columns = ['Date','item_sale'])
    resultDf = pd.concat([resultDf.item_sale.apply(pd.Series), resultDf.drop('item_sale', axis=1)], axis=1)
    dsDF = pd.DataFrame(list(dailySales.items()),columns = ['Date','Daily Sales'])
    df = pd.concat([dsDF,resultDf.drop('Date',axis=1)],axis=1)
    display(df)

Last but not least, we will run our solution!

In [5]:
import pandas as pd

result = read_sales_data('data_assignment_1.txt')
dailySales = calculate_daily_sale(result)
totalSales = get_total_sale(result)

display_df(result,dailySales)

print('Total sales: ' + str(totalSales))

# VERFIY

print('\nValidate: print the given syntax in the question.\n')

print(result['2020-09-25'])
print(result['2020-09-25']['Item_B'])

         Date  Daily Sales  Item_A  Item_B  Item_C  Item_D  Item_E  Item_F
0  2020-09-23         24.1    13.3    10.8     NaN     NaN     NaN     NaN
1  2020-09-24         37.5    24.7     2.4    10.4     NaN     NaN     NaN
2  2020-09-25         73.5    28.5     7.2     NaN    37.8     NaN     NaN
3  2020-09-26         67.1    17.1    39.6    10.4     NaN     NaN     NaN
4  2020-09-27         67.9     3.8     3.6    15.6    40.5     4.4     NaN
5  2020-09-28        107.1    32.3     7.2    14.3    29.7     4.4    19.2
6  2020-09-29         46.5    28.5    18.0     NaN     NaN     NaN     NaN
7  2020-09-30        106.5    11.4     7.2    31.2    45.9     4.4     6.4

Total sales: 527.5

Validate: print the given syntax in the question.

{'Item_D': 37.800000000000004, 'Item_A': 28.5, 'Item_B': 7.199999999999999}
7.199999999999999