In [7]:
import numpy as np
import pandas as pd

attendance = np.array([1,0,0,1,1,1,0,1,0,1,1,1,1,1,1,1,1,1,1,1,0,1,0,0,1,1,1,1,1,1,1,0,1,1,1,1,0,0,0,1,1,1,1,1,1,1,1,1,1,1,1,0,0,0,0,0,1,1,1,1,1,1,1,0,0,0,1,1,1,1])
name_list = np.array(["Ali","Ahmad","Beng","Chris","Sita","Marion","Stephen","Cobby","Akmal","Nita"])
day_list = np.array(["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"])

print(len(attendance))
print()
print(len(name_list))
print()
print(day_list)

70

10

['Sunday' 'Monday' 'Tuesday' 'Wednesday' 'Thursday' 'Friday' 'Saturday']

## Description of the data:
Given a list of attendance data of an event for 10 students for 1 week where **1 indicates the student attends** for the event, while **0 indicates the student is absent**. The data is given in a simple list described as follows:

<br>
<img src="F1.png">

The namelist and the daylist also given. The order of the day and name in the attendance data are complement to both variables.

In [53]:
# Now, based on the given attendance data, create a 2D numpy array (named: attendance_arr) where:
# ROW represents each student
# COLUMN represents each day
# Write the code at below:

def structure_data(attendance,name_list,day_list):
    
    number_of_days = len(day_list)
    attendance_arr = np.reshape(attendance, (number_of_days, len(name_list)))
    attendance_arr = attendance_arr.transpose()
    return attendance_arr
    

attendance_arr = structure_data(attendance,name_list,day_list)
print(attendance_arr)

[[1 1 0 1 1 1 1]
 [0 1 1 0 1 0 1]
 [0 1 0 1 1 0 1]
 [1 1 0 1 1 0 0]
 [1 1 1 1 1 0 0]
 [1 1 1 1 1 0 0]
 [0 1 1 0 1 1 1]
 [1 1 1 0 1 1 1]
 [0 1 1 0 1 1 1]
 [1 1 1 1 1 1 1]]

In [77]:
# Write a fuction that returns the list of names, and their corresponding total attendance based on a filter
# The function should accept at least ONE argument, which is the no. of days. You should return the results
# filtered based on the no. of days. 
# E.g.: get the names and their total attendance for those who attended more than 4 days

def filter_attendance(day):
    attendance_total = np.sum(attendance_arr, axis=1)
    filtered_result = []
    
    for i,value in enumerate(attendance_total):
        if value >= day:
            filtered_result.append({'name':name_list[i],'attendance':attendance_total[i]})
    
    return filtered_result
    
    
filter_attendance(0)

[{'name': 'Ali', 'attendance': 6},
 {'name': 'Ahmad', 'attendance': 4},
 {'name': 'Beng', 'attendance': 4},
 {'name': 'Chris', 'attendance': 4},
 {'name': 'Sita', 'attendance': 5},
 {'name': 'Marion', 'attendance': 5},
 {'name': 'Stephen', 'attendance': 5},
 {'name': 'Cobby', 'attendance': 6},
 {'name': 'Akmal', 'attendance': 5},
 {'name': 'Nita', 'attendance': 7}]

In [78]:
# Write a function that returns the 7-day attendance for a specific person.
# The function should accept at least ONE argument, which is the name of the person. You should return the results
# based on the name.
# E.g.: get the 7-day attendance for "Akmal"

def get_attendance(name):
    
    for i,value in enumerate(name_list):
        if value == name:
            return {'name': name,'attendance': list(attendance_arr[i])}
    
    return filtered_result

get_attendance('Beng')

{'name': 'Beng', 'attendance': [0, 1, 0, 1, 1, 0, 1]}

In [79]:
# Write a fuction that returns the list of days, and the corresponding total attendance based on a filter
# The function should accept at least ONE argument, which is the no. of attendees. You should return the results
# filtered based on the no. of attendees. 
# E.g.: get the list of days and the total attendance for where if the attendees exceed 5 people. 

def filter_day(no_of_attendees):
    attendance_total = np.sum(attendance_arr, axis=0)
    filtered_result = []
    
    for i,value in enumerate(attendance_total):
        if value >= no_of_attendees:
            filtered_result.append({'day':day_list[i],'attendance':attendance_total[i]})
    
    return filtered_result
    
    
filter_day(0)

[{'day': 'Sunday', 'attendance': 6},
 {'day': 'Monday', 'attendance': 10},
 {'day': 'Tuesday', 'attendance': 7},
 {'day': 'Wednesday', 'attendance': 6},
 {'day': 'Thursday', 'attendance': 10},
 {'day': 'Friday', 'attendance': 5},
 {'day': 'Saturday', 'attendance': 7}]

In [80]:
# Write a function that returns the percentage of attendance for each day.

def attendance_percentage():
    day_attd = filter_day(0)
    percentage_day = [ {'day':day['day'],'percentage': str((day['attendance'] / len(name_list) ) * 100) + '%'  } for day in day_attd ]
    
    return percentage_day

attendance_percentage()

[{'day': 'Sunday', 'percentage': '60.0%'},
 {'day': 'Monday', 'percentage': '100.0%'},
 {'day': 'Tuesday', 'percentage': '70.0%'},
 {'day': 'Wednesday', 'percentage': '60.0%'},
 {'day': 'Thursday', 'percentage': '100.0%'},
 {'day': 'Friday', 'percentage': '50.0%'},
 {'day': 'Saturday', 'percentage': '70.0%'}]

In [86]:
# Write a function that returns the percentage of attendance for each student.
def student_percentage():    
    result = [ {'name':student,'attendance': str("{:.2f}".format(( sum(get_attendance(student)['attendance']) ) / len(day_list)*100)) + '%' } for student in name_list]
    return result

student_percentage()

[{'name': 'Ali', 'attendance': '85.71%'},
 {'name': 'Ahmad', 'attendance': '57.14%'},
 {'name': 'Beng', 'attendance': '57.14%'},
 {'name': 'Chris', 'attendance': '57.14%'},
 {'name': 'Sita', 'attendance': '71.43%'},
 {'name': 'Marion', 'attendance': '71.43%'},
 {'name': 'Stephen', 'attendance': '71.43%'},
 {'name': 'Cobby', 'attendance': '85.71%'},
 {'name': 'Akmal', 'attendance': '71.43%'},
 {'name': 'Nita', 'attendance': '100.00%'}]

In [117]:

def pretty_display():
    df = pd.DataFrame(attendance_arr,index=name_list, columns=day_list)
    df['Total Attendance'] = [ x['attendance'] for x in filter_attendance(0)]
    df['%'] = [ x['attendance'] for x in student_percentage()]

    dayData = [x['attendance'] for x in filter_day(0)]
    dayDF = pd.DataFrame( dayData , index=day_list, columns=['Total'])
    dayDF = dayDF.transpose()

    df = df.append(dayDF)

    dayPercentageData = [x['percentage'] for x in attendance_percentage()]
    dayPercentageDF = pd.DataFrame( dayPercentageData , index=day_list, columns=['Percentage'])
    dayPercentageDF = dayPercentageDF.transpose()

    df = df.append(dayPercentageDF)

    df = df.fillna('')
    
    return df

In [118]:
display(pretty_display())

,Sunday,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Total Attendance,%
Ali,1,1,0,1,1,1,1,6,85.71%
Ahmad,0,1,1,0,1,0,1,4,57.14%
Beng,0,1,0,1,1,0,1,4,57.14%
Chris,1,1,0,1,1,0,0,4,57.14%
Sita,1,1,1,1,1,0,0,5,71.43%
Marion,1,1,1,1,1,0,0,5,71.43%
Stephen,0,1,1,0,1,1,1,5,71.43%
Cobby,1,1,1,0,1,1,1,6,85.71%
Akmal,0,1,1,0,1,1,1,5,71.43%
Nita,1,1,1,1,1,1,1,7,100.00%
Total,6,10,7,6,10,5,7,,
Percentage,60.0%,100.0%,70.0%,60.0%,100.0%,50.0%,70.0%,,