### Exercise

In [11]:
import re
import pandas as pd
# as an example, the text following show portion of the information the staff name, the date they joined the company
# the date they left the company, and their email address.

text = """Dave 2008-09-20 2020-05-31 dave@google.com
Steve 2009-01-23 2020-04-30 steve@gmail.com 
Rob 2007-02-14 2020-04-30 rob@gmail.com 
Ryan 2010-02-11 2020-03-10 ryan@yahoo.com
"""

Ultimate Goal: Process the string above and save into a data frame with the column names: "Name, Date Join, Date Left, Email"
<br>
<br>
#### OPTION A:
<b>STEP 1:</b> try get each individual information from the text using `re.split()`
<br>
You should get something like following:
<br>
`['Dave',
 '2008-09-20',
 '2020-05-31',
 'dave@google.com',
 'Steve',
 '2009-01-23',
 '2020-04-30',
 'steve@gmail.com',
 'Rob',
 '2007-02-14',
 '2020-04-30',
 'rob@gmail.com',
 'Ryan',
 '2010-02-11',
 '2020-03-10',
 'ryan@yahoo.com',
 '']`
 
 <br>

In [12]:
splitted = re.split("\s",text)
splitted

['Dave',
 '2008-09-20',
 '2020-05-31',
 'dave@google.com',
 'Steve',
 '2009-01-23',
 '2020-04-30',
 'steve@gmail.com',
 '',
 'Rob',
 '2007-02-14',
 '2020-04-30',
 'rob@gmail.com',
 '',
 'Ryan',
 '2010-02-11',
 '2020-03-10',
 'ryan@yahoo.com',
 '']

#### OPTION A:

<b>STEP 2:</b> Now, think about it, based on the output above, try generate a data frame from it,  with the column names: "Name, Date Join, Date Left, Email". It is still able to convert to data frame but it could be a tedious process.

In [13]:
splitted = [ x for x in splitted if len(x) > 1]

dfList = []
count = 0
for x in range(0,len(splitted)):
    if count == 0:
        newDict = {
            'Name':splitted[x]
        }
        count = count + 1
        continue
    if count == 1:
        newDict['Date Join'] = splitted[x]
        count = count + 1
        continue
    if count == 2:
        newDict['Date Left'] = splitted[x]
        count = count + 1
        continue
    if count == 3:
        newDict['Email'] = splitted[x]
        dfList.append(newDict)
        count = 0
        continue

df = pd.DataFrame(dfList)
display(df)

    Name   Date Join   Date Left            Email
0   Dave  2008-09-20  2020-05-31  dave@google.com
1  Steve  2009-01-23  2020-04-30  steve@gmail.com
2    Rob  2007-02-14  2020-04-30    rob@gmail.com
3   Ryan  2010-02-11  2020-03-10   ryan@yahoo.com

On the other hand, <br><br>
#### OPTION B:
STEP 1: try to get each individual information from text using regular expression pattern find.
<br>
You should get something like following:
<br>
`['Dave 2008-09-20 2020-05-31 dave@google.com',
 'Steve 2009-01-23 2020-04-30 steve@gmail.com',
 'Rob 2007-02-14 2020-04-30 rob@gmail.com',
 'Ryan 2010-02-11 2020-03-10 ryan@yahoo.com']`

In [31]:
splitted = re.split("\n",text)
splitted = [ x for x in splitted if len(x) > 1]
splitted

['Dave 2008-09-20 2020-05-31 dave@google.com',
 'Steve 2009-01-23 2020-04-30 steve@gmail.com ',
 'Rob 2007-02-14 2020-04-30 rob@gmail.com ',
 'Ryan 2010-02-11 2020-03-10 ryan@yahoo.com']

#### OPTION B:
<b>STEP 2:</b> Now, this could be an easier process than from output of OPTION 1 to convert to a Data Frame with the column names: "Name, Date Join, Date Left, Email". Give it a try.

In [35]:
dfList = []
for x in range(0,len(splitted)):
    uInfo = splitted[x].split(" ")
    uDict = {
        'Name': uInfo[0],
        'Date Join': uInfo[1],
        'Date Left': uInfo[2],
        'Email': uInfo[3],
    }
    dfList.append(uDict)

df = pd.DataFrame(dfList)
display(df)

    Name   Date Join   Date Left            Email
0   Dave  2008-09-20  2020-05-31  dave@google.com
1  Steve  2009-01-23  2020-04-30  steve@gmail.com
2    Rob  2007-02-14  2020-04-30    rob@gmail.com
3   Ryan  2010-02-11  2020-03-10   ryan@yahoo.com

#### OPTION C:

<b>STEP 1:</b> try to get each individual information from text using regular expression pattern, and split the output accordingly to the name, date join, date left, and email. 
<br>
You should get something like following:
<br>
`[('Dave', '2008-09-20', '2020-05-31', 'dave@google.com'),
 ('Steve', '2009-01-23', '2020-04-30', 'steve@gmail.com'),
 ('Rob', '2007-02-14', '2020-04-30', 'rob@gmail.com'),
 ('Ryan', '2010-02-11', '2020-03-10', 'ryan@yahoo.com')]`

In [108]:
splitted = re.findall("([a-zA-Z0-9]*) ([0-9]{4}-[0-9]{2}-[0-9]{2}) ([0-9]{4}-[0-9]{2}-[0-9]{2}) ([a-zA-Z0-9]*[@][a-z]*)",text)
splitted

[('Dave', '2008-09-20', '2020-05-31', 'dave@google'),
 ('Steve', '2009-01-23', '2020-04-30', 'steve@gmail'),
 ('Rob', '2007-02-14', '2020-04-30', 'rob@gmail'),
 ('Ryan', '2010-02-11', '2020-03-10', 'ryan@yahoo')]

#### OPTION C:
<b>STEP 2:</b> Now, use the answer from STEP 1(iii), create a data frame with the column names: "Name, Date Join, Date Left, Email"

In [114]:
df = pd.DataFrame(splitted, columns =['Name', 'Date Join', 'Date Left','Email'])
display(df)

    Name   Date Join   Date Left        Email
0   Dave  2008-09-20  2020-05-31  dave@google
1  Steve  2009-01-23  2020-04-30  steve@gmail
2    Rob  2007-02-14  2020-04-30    rob@gmail
3   Ryan  2010-02-11  2020-03-10   ryan@yahoo